<!DOCTYPE html>
<html>
<head>
	<title>用户管理</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script type="text/javascript" src='jquery/jquery-1.12.3.js'></script>
	<script src="jquery/bootstrap.min.js"></script>

		
	<link rel="stylesheet" type="text/css" href="css/daterangepicker-bs3.css">
	<style type="text/css">
	*{
	margin: 0;
	padding: 0;
}
		body{
			font-family: '微软雅黑';
		}
		#daohanglan li{
			float:left;
			position:relative;
			padding:1.6% 4%;
			list-style: none;
			font-size: 20px;
		}

		#daohanglan li:hover{
			border-bottom: 5px solid blue;
		}
		#daohanglan li:first-child:hover{
			border: 0;
		}
		#daohanglan li:last-child:hover{
			border: 0;
		}
		#daohanglan div{
			padding: 5% 0 0;

		}
		#daohanglan{
			background-color: rgb(255, 255, 255);
		    height: 78px;
		    box-shadow: 1px 1px rgba(0,0,0,.3);
		    background: url(./images/logo_u5.jpg)no-repeat 22px;
		}
		#daohanglan .peizhi div a{
			text-decoration: none;
			color: rgba(255,255,255,0.9);
			
		}
		#daohanglan .peizhi div a:hover{
			text-decoration: none;
			color: black;
			
		}
		#daohanglan .peizhi div{
			width: 120px;
			background-color: rgba(0,0,0,.6);
			padding:10% 3% 5%;
			margin-left: -8%;
			color: #2a6496;
		}
		.bg{
			background:url(./images/bg.jpg)no-repeat;
			background-size:100%;
			height:560px;
		}
		/*td{
			text-align: center;
		    font-size: 15px;
		    line-height: 25px;
		}*/
		/*#addshiyantai input{
			    width: 40px;
		}*/
	</style>



</head>
<body>

	<ul id='daohanglan'>
		<li style='padding-left:10%;'></li>
		<li><a href='yonghuguanli.html#yonghuguanli'>Web用户管理</a>
			</div>
		</li>
		<li><a href="#" class='canshu'>参数配置</a>
			<div style='position:absolute;display:none;' class='peizhi'>
				<div><a href="shijiancanshu.html#shijiancanshu">标准实验</a></div>
				<div><a href="#">节假日设置</a></div>
				<div><a href="xitongcanshu.html#xitongcanshu">系统参数设置</a></div>
			</div>
		</li>
		<li><a href="shujuchakan.html#shujuchakan">数据查看</a>
			<div style='position:absolute;'>
			</div>
		</li>
		<li style='border-bottom: 5px solid blue;'>
        <a href="" name='shiyanxinxi'>试验台信息</a>
    	</li>
		<li style='float:right;border-left:1px solid rgba(0,0,0,.3);'>
			<a href="#">登录</a>
		</li>
		
    </ul>	







<div style='padding:4%;clear:both;' class='bg'>
	<div style='position:absolute;font-size:24px;color:rgb(6,55,108);'><strong>试验台信息</strong></div>
 	<div style='width:80%;background:white;height:450px;margin:0 auto;padding-top:2%;'>
		<table class='table table-hover table-bordered table-condensed' style='width:80%;margin:0 auto;' id='shijiancanshu'>
			<thead style='color:rgb(120,120,120);font-size:13px;'>
				<th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>区域</th>
				<th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>台号</th>
				<th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>通道号</th>
				<th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>台位</th>
				<th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>更新时间</th>
				<th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>电表通道</th>
				<th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>性质</th>
				<th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>状态</th>
				<th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>备注</th>
			</thead>
			<tr>
				<td bgcolor="#FFFFFF" style='text-align:center;'>&nbsp;</td>
				<td bgcolor="#FFFFFF" style='text-align:center;'>&nbsp;</td>
				<td bgcolor="#FFFFFF" style='text-align:center;'>&nbsp;</td>
				<td bgcolor="#FFFFFF" style='text-align:center;'>&nbsp;</td>
				<td bgcolor="#FFFFFF" style='text-align:center;'>&nbsp;</td>
				<td bgcolor="#FFFFFF" style='text-align:center;'>&nbsp;</td>
				<td bgcolor="#FFFFFF" style='text-align:center;'>&nbsp;</td>
				<td bgcolor="#FFFFFF" style='text-align:center;'>&nbsp;</td>
				<td bgcolor="#FFFFFF" style='text-align:center;'>&nbsp;</td>
			</tr>
		</table>
</br></br>
	<div style='width:80%;width: 80%;margin: 0 auto;' class='row'>
		<!-- <input placeholder='增加项目'/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		
		<input type='time' class='span4'>
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;至：
		<input type='time' class='span4'>
		<button class='btn btn-info' style='float:right;right:20%;border-radius: 5px;'>确定</button> -->

		<div class='col-md-2' data-toggle='modal' data-target='#addshiyantai'><button>增加项目：</button></div>
		<!-- <div class='col-md-4'><input placeholder='请输入项目名称' name='xiangmumingchen'/></div>
		<div class='col-md-4'><input placeholder='请输入项目时长' name='xiangmushichang'/>小时</div>
		<div class='col-md-2'><button onclick='addRow()' class='btn btn-info'>确定</button></div> -->

		<div id='addshiyantai' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class='modal-dialog'>
				<div class='modal-content' style='padding:10%;'>
					<table class='table table-hover table-bordered table-condensed' style='width:80%;margin:0 auto;'>
						<thead style='color:rgb(120,120,120);font-size:13px;'>
							<th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>区域</th>
							<th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>台位</th>
							<th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>性质</th>
						</thead>
						<tr class='xinxi'>
							<td bgcolor="#FFFFFF" style='text-align:center;'><input name='Area'/></td>
							<td bgcolor="#FFFFFF" style='text-align:center;'><input name='StationName'/></td>
							<td bgcolor="#FFFFFF" style='text-align:center;'><input name='Property'/></td>
						</tr>
					</table>
				</br>
					<div class='text-center'><button data-dismiss='modal' class='btn btn-info' onclick='addRow();'>确定</button></div>
				</div>
			</div>

		</div>


	</div>
</div>
</div>

	<script type="text/javascript">
		$('.canshu').click(function(){
			$('.peizhi').toggle();
		})
		


                      function addRow() {
                          //原来的行数    比如：此处获得表格的行数是5，则每一行对应的index是0~4，所以下面在insertRow时，使用的是表格的当前行数
                          var currentRows = document.getElementById("shijiancanshu").rows.length; 
                          var insertTr = document.getElementById("shijiancanshu").insertRow(currentRows);
                          if($(".xinxi").children().children("input[name='Area']").val()!==""){
	                          insertTd = insertTr.insertCell(0);
	                          insertTd.style.textAlign="center";
	                          insertTd.innerHTML =$("input[name='Area']").val();
	                          
	                          insertTd = insertTr.insertCell(1);
	                          insertTd.style.textAlign="center";
	                          insertTd.innerHTML =$("input[name='StationNO']").val();

	                          insertTd = insertTr.insertCell(2);
	                          insertTd.style.textAlign="center";
	                          insertTd.innerHTML =$("input[name='ItemNO']").val();
	                          
	                          insertTd = insertTr.insertCell(3);
	                          insertTd.style.textAlign="center";
	                          insertTd.innerHTML =$("input[name='StationName']").val();

	                          insertTd = insertTr.insertCell(4);
	                          insertTd.style.textAlign="center";
	                          insertTd.innerHTML =$("input[name='LastActiveTime']").val();

	                          insertTd = insertTr.insertCell(5);
	                          insertTd.style.textAlign="center";
	                          insertTd.innerHTML =$("input[name='MeterChannel']").val();

	                          insertTd = insertTr.insertCell(6);
	                          insertTd.style.textAlign="center";
	                          insertTd.innerHTML =$("input[name='Property']").val();

	                          insertTd = insertTr.insertCell(7);
	                          insertTd.style.textAlign="center";
	                          insertTd.innerHTML =$("input[name='State']").val();

	                          insertTd = insertTr.insertCell(8);
	                          insertTd.style.textAlign="center";
	                          insertTd.innerHTML =$("input[name='Memo']").val();
                      		 
                      		 
                          }
                      	  $('.cancel').click(function(){
				          $(this).parent().parent('tr').remove();
				                })	
                      }
        $('.cancel').click(function(){
            $(this).parent().parent('tr').remove();
                })





	</script>


</body>
</html>
