@{
    
    String sessString = AuxWebSystem.Helpers.UserSecurityHelper.sessionName;
    Object obj = Session[sessString];
    if (null == obj)
    {
        <ul>
            <li>@Html.ActionLink("登录", "LoginPage", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
    else
    {
        AuxWebSystem.Models.UserTableModel user = (AuxWebSystem.Models.UserTableModel)obj;
        <text>
            你好，@user.LogName
            <a href="/User/Logoff">注销</a>
            <a href="/User/ModityUserPage">修改</a>
        </text>
    }
}