@{
   ViewBag.Title="欢迎！";
}
<body>

    <div style="background: url(/Images/u0.jpg); background-size: 100%; height: 570px;"></div>
    

    <script type="text/javascript">
        $('.canshu').click(function () {
            $('.peizhi').toggle();
        })
    </script>
</body>





